@import '../../styles/app';

.root {
  margin-left: 20px;
  margin-right: 20px;
}

.customButton {
  color: #fff;
  background-color: #1081F6;
  border-color: #1081F6;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  //text-transform: uppercase;
  font-weight: normal;
  vertical-align: middle;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
}